name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ftp.sephirot.games
          username: admin@sephirot.games
          password: M@nuel4503479
          server-dir: /public_html/templates/
          local-dir: ./
          exclude: |
            **/.git*
            **/.github/**
